spring:
  datasource:
    url: jdbc:mysql://Endpoint
meal-planning.ctxylira6wvb.us-east-2.rds.amazonaws.com:3306/food?useSSL=false
    username: mysql
    password: mysql
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        use_sql_comments: true
        format_sql: true
        type: trace
    hibernate:
      ddl-auto: none

  data:
    rest:
      basePath: /api
              
management:
  endpoints:
    web:
      exposure:
        include: *